@charset "UTF-8";

/*
Rhythm
*/
@import "inc/rhythm";
@include rhythm-init( 15px, ( 25/15 ), 'golden section' );

@import "svg_sprite";

/*
Vars
*/
$header_black: #0f0c09;
$bg_brown: #221d17;
$header_height: 110px;
$main_gold: #bba454;
$container_max_width: 1100px;

$main_font: 'Slabo 27px', serif;

@mixin heading_font() {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

@mixin respond-to( $key, $value: null ) {
	@if( $key == 'max-width' ) {
		@media only screen and ( max-width: $value ) {
			@content;
		}
	}
	@if( $key == 'min-width' ) {
		@media only screen and ( min-width: $value ) {
			@content;
		}
	}

	@else if( $key == 'switcher_wrap' ) {
		@media only screen and ( max-width: 785px ) {
			@content;
		}
	}
	@else if( $key == 'vyroba_wrap' ) {
		@media only screen and ( max-width: 615px ) {
			@content;
		}
	}
	@else if( $key == '!page_wrap' ) {
		@media only screen and ( min-width: $container_max_width ) {
			@content;
		}
	}
}