@import "global";

/*
Inits
*/
@import "inc/normalize";

html {
	@include rhythm-normalize();
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

/*
Layout
*/
.container {
	$padding: 10px;
	max-width: ( $container_max_width + $padding );
	margin: 0 auto;
	padding: 0 $padding;
}

.main_header {
	border-top: 40px solid $header_black;
	background: $bg_brown;

		.container {
			min-height: $header_height;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
		}

		}
		.main_header__logo {
			margin: 10px 0;

				img {
					display: block;
				}
		}

		.main_header__menu {
			margin: 10px 0;

				}
				.main_header__menu__ul {
					margin: 0;
					padding: 0;
					list-style: none;

						}
						.main_header__menu__ul__item {
							display: inline-block;
							margin: 0 10px;

								&:last-of-type {
									margin-right: 0;
								}

								a {
									padding: 10px;
									color: #FFF;
									text-decoration: none;
									font-family: $main_font;
									text-transform: uppercase;
									font-style: italic;
									@include rhythm-text( 16px );
									border-bottom: 2px solid transparent;
									transition: border-color 300ms;

									&:hover {
										border-bottom-color: $main_gold;
									}
								}
						}

@import "inc/owl.carousel";

.slider {
	position: relative;

		}
		.slider__image {
			max-width: 100%;
			display: block;
		}
		.owl-prev,
		.owl-next {
			position: absolute;
			display: block;
			top: 50%;
			height: 25%;
			transform: translateY( -50% );
			font-size: 0;
			color: transparent;
		}
		.owl-next {
			right: 0;

				&::after {
					@include svg_sprite_arrow_right();
				}
		}
		.owl-prev {

			&::after {
				@include svg_sprite_arrow_left();
			}
		}