@import "global";

/*
Inits
*/
@import "inc/normalize";

html {
	@include rhythm-normalize();
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

/*
Basic typo
*/
body {
	font-family: $main_font;
}
p {
	margin-top: 0;
	margin-bottom: rhythm(1);
}
h1, h2, h3, h4, h5, h6 {
	@include heading_font();
	text-transform: uppercase;
	color: $main_gold;
	margin-top: 0;
	margin-bottom: rhythm(0.5);
}
h1 {
	@include rhythm-text( 22px, 1 );
	letter-spacing: 2px;
}
h2 {
	@include rhythm-text( 18px, 1 );
}
p {
	margin-top: 0;
	margin-bottom: rhythm(0.5);
}
.image_float_left {
	float: left;
	margin: 0 rhythm(0.5) rhythm(0.5) 0;
}

/*
Layout
*/
.container {
	$padding: 10px;
	max-width: ( $container_max_width + $padding );
	margin: 0 auto;
	padding: 0 $padding;
}

.dark_block,
.white_block {
	padding: rhythm(2) 0 0 0;
}
.dark_block {
	background: $bg_brown;
	color: #FFF;
}
.white_block {

}


.main_header {
	border-top: 40px solid $header_black;
	background: $bg_brown;

		.container {
			min-height: $header_height;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

				@include respond-to( '!page_wrap' ) {
					height: $header_height; //IE fix
				}
		}

		}
		.main_header__logo {
			margin: 10px 0;

				img {
					display: block;
				}
		}

		.main_header__menu {
			margin: 10px 0;

				}
				.main_header__menu__ul {
					margin: 0;
					padding: 0;
					list-style: none;

						}
						.main_header__menu__ul__item {
							display: inline-block;
							margin: 0 10px;

								&:last-of-type {
									margin-right: 0;
								}

								a {
									padding: 10px;
									color: #FFF;
									text-decoration: none;
									font-family: $main_font;
									text-transform: uppercase;
									font-style: italic;
									@include rhythm-text( 16px );
									border-bottom: 2px solid transparent;
									transition: border-color 300ms;

									&:hover {
										border-bottom-color: $main_gold;
									}
								}
						}

@import "inc/owl.carousel";

.slider_wrap {
	background: $bg_brown;
}

.slider {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;

		}
		.slider__image {
			max-width: 100%;
			display: block;
		}
		.owl-prev,
		.owl-next {
			position: absolute;
			display: block;
			top: 50%;
			height: 25%;
			transform: translateY( -50% );
			font-size: 0;
			color: transparent;
			width: 50px;
			background-size: contain;
			background-repeat: no-repeat;
		}
		.owl-next {
			right: 0;
			background-image: url( '../images/arrow_right.svg' );
			background-position: right;
		}
		.owl-prev {
			background-image: url( '../images/arrow_left.svg' );
		}

.columns {
	font-size: 0;

		> * {
			font-size: 1rem;
		}

		}
		.columns__column_1_3 {
			display: inline-block;
			vertical-align: top;
			margin-right: rhythm(1);
			margin-bottom: rhythm(1);
			width: calc( 33.3% - #{ rhythm(2) / 3} );

				&:nth-child( 3n ) {
					margin-right: 0;
				}

				@include respond-to( 'max-width', 730px ){
					width: calc( 50% - #{ rhythm(1) / 2} );

						&:nth-child( 2n ) {
							margin-right: 0;
						}
				}

				@include respond-to( 'max-width', 500px ){
					width: 100%;
					margin-right: 0;

						img {
							display: block;
							margin-left: auto;
							margin-right: auto;
						}
				}


		}

.featured_image {
	display: block;
	margin-bottom: rhythm(1);
	max-width: 100%;
	height: auto;
}

.switcher {
	font-size: 0;

		> * {
			font-size: 1rem;
		}

	}
	.switcher__selector {
		width: 33.3%;
		margin-right: rhythm(1);
		display: inline-block;
		vertical-align: top;

			@include respond-to( 'switcher_wrap' ) {
				width: 100%;
				margin-right: 0;
				margin-bottom: rhythm(1);
			}

		}
		.switcher__selector__button {
			display: block;
			margin: 0;
			padding: 0;
			background: none;
			width: 100%;
			border-style: solid;
			border-color: #000;
			border-width: 1px 0 0 0;
			text-align: left;
			@include rhythm-text(16px, 1);
			line-height: 30px;
			position: relative;

				&::before {
					content: '';
					background: url( '../images/li_arrow.svg' );
					width: 7px;
					height: 13px;
					display: inline-block;
					margin-right: 10px;
					vertical-align: middle;
					position: relative;
					top: -1px;
				}

				&:last-of-type {
					border-bottom-width: 1px;
				}
		}

	.switcher__content {
		width: calc( 66.6% - #{rhythm(1)} );
		display: inline-block;
		vertical-align: top;
		margin-bottom: rhythm(2);

			@include respond-to( 'switcher_wrap' ) {
				width: 100%;
			}

		}
		.switcher__content__item {
			display: none;

				&:first-child {
					display: block;
				}
		}

	.switcher__gallery { //table
		table-layout: fixed;
		font-style: italic;
		width: 100%;

		td {
			width: 25%;
			text-align: center;
			vertical-align: top;
			padding-right: 1%;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}
	
.vyroba_proces {
	padding-bottom: rhythm(2);

		&::after {
			clear: both;
			content: '';
			display: table;
		}	
	}
	.vyroba_proces__column {
		width: calc( 50% - #{rhythm(1)/2} );
		float: left;

			&:nth-child( 2n ) {
				float: right;

				@include respond-to( 'vyroba_wrap' ) {
					margin-top: rhythm(2);
				}
			}

			@include respond-to( 'vyroba_wrap' ) {
				width: 100%;
			}
	}
	.vyroba_proces__heading {
		color: #FFF;
		text-align: center;
		margin-bottom: rhythm(1);
	}
	.vyroba_proces__subheading {
		text-transform: none;
		margin-bottom: rhythm(1);
		font-style: italic;
		text-align: center;
		font-weight: normal;
		font-family: $main_font;
	}


.eshop_teaser {
	background: #1f1c15;
	position: relative;
	overflow: hidden;
	}
	.eshop_teaser__image {
		display: block;
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;

			@include respond-to( 'max-width', 420px ){
				width: 420px;

			}
	}
	.eshop_teaser__description {
		position: absolute;
		top: 50%;
		left: 20%;
		transform: translateY(-50%);
		text-align: center;

			@include respond-to( 'max-width', 864px ) {
				left: 10%;
			}

		}
		.eshop_teaser__description__heading {
			color: #FFF;
			margin-bottom: rhythm(1);

				@include respond-to( 'max-width', 930px ) {
					margin-bottom: 0;
				}

				@include respond-to( 'max-width', 540px ) {
					margin-bottom: 20px;
				}
		}
		.eshop_teaser__description__subheading {
			font-weight: normal;
			font-family: $main_font;
			font-style: italic;
			text-transform: none;
			font-size: 15px;
			margin-bottom: rhythm(2);

				@include respond-to( 'max-width', 930px ) {
					margin-bottom: 20px;
				}

				@include respond-to( 'max-width', 540px ) {
					display: none;
				}

		}
		.eshop_teaser__description__button {
			color: #FFF;
			@include heading_font();
			font-size: 20px;
			letter-spacing: 2px;
			text-transform: uppercase;
			text-decoration: none;
			padding: 10px 15px;
			border: 1px solid $main_gold;
			border-radius: 2px;
			background-color: transparent;
			transition: background-color 300ms;

				&:hover {
					background-color: rgba( $main_gold, 0.3 );
				}

				&::after {
					content: '';
					width: 20px;
					height: 20px;
					display: inline-block;
					background: url('../images/double_arrows.svg') no-repeat;
					vertical-align: middle;
					margin-left: 10px;
					position: relative;
					top: -2px;
				}
		}


.showcase {

	}
	.showcase_heading {
		text-align: center;
		margin-top: rhythm(1);
	}
	.showcase__subheading {
		text-decoration: none;
		text-align: center;
		display: block;
		font-family: $main_font;
		font-weight: normal;
		text-transform: none;
		font-size: 18px;
		margin-top: rhythm(1);
		margin-bottom: rhythm(2);
		transition: color 200ms;
		color: $main_gold;

			&:hover {
				color: $bg_brown;
			}

			h2 {
				font-family: inherit;
				font-weight: inherit;
				font-size: inherit;
				text-transform: inherit;
				color: inherit;
			}
	}
	.showcase__gallery {
		margin-top: rhythm(1);
		margin-bottom: rhythm(2);
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;

			@include respond-to( 'max-width', 1076px ) {
				justify-content: center;
			}

			.no-flexbox & {
				font-size: 0;

					& > * {
						font-size: 1rem;
					}
			}

		}
		$image_bg: #f3f3f3;
		.showcase__gallery__item {
			margin: 0 10px rhythm(1) 10px;
			width: auto;
			display: flex;
			flex-direction: column;
			text-decoration: none;
			color: inherit;
			text-align: center;

				&:hover {
					.showcase__gallery__item__image {
						outline-color: $main_gold;
					}
				}

				.no-flexbox & {
					display: inline-block;
					width: calc( #{22%} );
				}

			}
			.showcase__gallery__item__image {
				outline: 1px solid transparent;
				transition: outline-color 300ms;

					img {
						display: block;
						max-width: 100%;
						height: auto;
					}
			}
			.showcase__gallery__item__name {
				color: $main_gold;
				@include heading_font();
				text-transform: uppercase;
				margin-top: rhythm(1);
			}
			.showcase__gallery__item__desc {
				font-style: italic;
				color: #8e8c92;
			}